<%-include('partials/header');-%>

<h1 style="text-align: center; margin-top: 40px;">Predicted Malware</h1>

<p><h3 style="text-align: center;margin-top: 20px;"><%=predictionImage.substring(42,100)%></h3></p>

<div style="text-align: center;margin-top: 30px;">
    <p>The raw data contains the hexadecimal representation of the file’s binary content. Convert those files into PNG images.</p> 
    <p>Then a Custom CNN was used to predict the Type of Malware with an accuracy of 96% </p>
    
    <p style="text-align: center;"><a href="/">Go back to Uploading</a></p>    
</div>
